body {


    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

.container {

    margin: auto;

    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1000px;

    align-items: center;
}