footer {
    
    position: absolute;
    display: flex;
    background-color: rgb(244, 239, 239);
    bottom: 0;
    height: 60px;
    width: 100%;
    border-top: 1px solid #cdcaca;
    align-items: center;
    justify-content: center;
}